@import url(sections/index.css);

main {
  display: grid;
  grid-template-columns: 20rem 35.5rem;
  grid-template-rows: 5.625rem 1fr 7.3125rem;
  row-gap: 1rem;
  column-gap: 1.5rem;
  margin-bottom: 10.125rem;

  section {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 1rem; 
  }

  #person {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #loyalty-card {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  #progress {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  #history {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}