* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #D658B3;
  --green: #45B442;

  --gray-700: #332B31;
  --grady-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --white: #FFFFFF;

  --linear-gradient-bar: linear-gradient(
    90deg,
    #2DAA6E 0%,
    #2DAAAA 33.33%,
    #856CCF 66.67%,
    #D658B3 100%
  );

  --linear-gradient-avatar: linear-gradient(
    -45deg,
    #2DAA6E 0%,
    #2DAAAA 33.33%,
    #856CCF 66.67%,
    #D658B3 100%
  );

  --font-family: "Oxygen", sans-serif;;
  --title-md: 700 1.5rem/1.4 var(--font-family);
  --title-sm: 700 1.125rem/1.4 var(--font-family);
  --subtitle-md: 700 0.875rem/1.4 var(--font-family);
  --subtitle-sm: 700 0.75rem/1.4 var(--font-family);
  --text-md: 400 1rem/1.4 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
  --text-xs: 400 0.75rem/1.4 var(--font-family);
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--gray-200);
  width: 100%;
  max-width: 57rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
}
 
button {
  all: unset;
}

*::-webkit-scrollbar {
  width: 0.375rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  height: 4.5rem;
  border-radius: 999px;
  background-color: var(--gray-300);
}
